<div class="container">
	<div class="row">
		<div class="alert alert-danger">Yetkiniz olmadan bu sayfayı görüntüleyemezsiniz lütfen giriş yapın.</div>
		<a href="/auth/logout" class="btn btn-danger">Çıkış Yap</a>
	</div>
</div>