<form method="post" asp-controller="list" asp-action="addList">
	<div class="container col-9 mt-5">
		<div class="mb-3">
			<label for="name" class="form-label"  >Liste Adı: </label>
			<input type="text" name="name" class="form-control" id="name" placeholder="Lütfen yeni liste için bir isim girin.">
		</div>
		<button type="submit" class="btn btn-primary">Yeni liste ekle</button>
	</div>
</form>